.tile,
.tile .tile-inner {
	width: 55px;
	height: 55px;
	overflow: hidden;
}

@media (min-width: 640px) {
	.tile,
	.tile .tile-inner {
		width: 110px;
		height: 110px;
		overflow: hidden;
	}
}

.tile {
	color: rgba(0, 0, 0, 0);
	position: absolute;
	transition: 100ms ease-in-out;
	transition-property: transform;
}

.tile .tile-inner {
	border-radius: 3px;
	background: #eee4da;
	text-align: center;
	font-weight: bold;
	z-index: 10;
	background-size: cover;
	box-shadow:
		0 0 30px 10px rgba(243, 215, 116, 0),
		inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile-new .tile-inner {
	animation: appear 200ms ease 100ms;
	animation-fill-mode: backwards;
}

.tile.tile-4096 {
	border-radius: 3px;
	background-size: cover;

	background: linear-gradient(
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 10%,
			rgba(208, 222, 33, 1) 20%,
			rgba(79, 220, 74, 1) 30%,
			rgba(63, 218, 216, 1) 40%,
			rgba(47, 201, 226, 1) 50%,
			rgba(28, 127, 238, 1) 60%,
			rgba(95, 21, 242, 1) 70%,
			rgba(186, 12, 248, 1) 80%,
			rgba(251, 7, 217, 1) 90%,
			rgba(255, 0, 0, 1) 100%
		)
		0 0/100% 800%;
	animation: a 4s linear infinite;
}

.tile.tile-4096 .tile-inner {
	border-radius: 3px;
}

@keyframes a {
	to {
		background-position: 0 -200%;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		transform: scale(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pop {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		transform: scale(1.5);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

.tile-merged .tile-inner {
	z-index: 20;
	animation: pop 200ms ease 100ms;
	animation-fill-mode: backwards;
}
